:root{
    --primary-color:#f42267;
    --section-color:#4b2d7f;
}
.bg-gradian{
    background-color: rgb(244, 34, 103);
}
.mybtn{
    background-color: #f42267;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 50px;
    padding: 7px 25px;

}
.gra{
    color: #f42267;
}
.container-two{
    width: 1170px;
    margin: 0 auto;
}
h1,h2,,h4,h5,h6,{
    font-family: 'Montserrat';
    font-weight: 600;
}
h3{
    font-family: 'Palatino Linotype';
    font-weight: 700;
}
p{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 13px;
}
.second-button{
    background-color: #773491;
}
/*--------------------- btn ------------------*/

/*--------------------- padding-section -------------------------*/

/*---------------------- margin ----------------------------*/

/* end-framework */

/*-------------------------------- header-start --------------------------*/
.header-section-area{
    background-image: url(../img/Creative-Agency-Web-Design-Free-PSD.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.primary-menu ul li a{
    font-family: 'Montserrat';
    font-weight: 600;
}
/*--------------------- main-area-start -------------*/
.about-watch-area{
    background-image: url(../img/tranfarent-img.png);
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: var(--primary-color);
    
  }
.project-area{
    background-color: var(--section-color);
}
.project-content:hover{
   background-color: #40286a;
}
.bussines-area{
  background-image: url(../img/2nd-section-pic.png);
}
.work-area-bottom{
    margin-left: 20px;
}
.logo-area{
    background-color: var(--section-color);
}
.slaider-area{
    background-image: url(../img/slider-img.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.need-help-area{
    background-image: url(../img/orange-section.png);
}
.social-icon-area{
    background-color: var(--section-color);
}
.footer-top-area{
    background-image: url(../img/tranfarent-img.png);
}
.footer-area{
    background-color: #f6f6f6;
}